@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
body{

    background-color: #1e2833;

}
div{
    border: solid 2px #40566e;
    border-radius: 12px;
    font-family: "Roboto Mono", monospace;  
    color: white;
    position: relative;

}
h1{
    text-align: center;
    font-family: "Roboto Mono", monospace;
    color:white;
}
input[type = submit]{
    background-color: transparent;
    border: solid 2px #40566e;
    border-radius: 12px;
    color: white;
    font-family: "Roboto Mono", monospace;  
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    height: 90%;
}
input[type = submit]:hover{
    background-color: #40566e;
}
input[type = text], input[type = password], input[type = email], select{
    background-color: #40566e50;
    border: solid 2px  #40566e;
    border-radius: 5px;
    color: white;
    display: inline-block;
}
select{
    width: 168px;
    height: 23px;
}
select:focus{
    background-color: #1e2833;
    border:solid 2px #40566e;
}
#register{
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 30px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#registerlink{
    border: none;
}
#divlogin{
    margin: 30px;
    margin-left: 350px;
    margin-right: 350px;
    position: relative;
    padding: 30px;
    text-align: center;
}
text{
    position: relative;
}
#label{
    border: none;
}
a{
    color:#516d8a;
}
a:hover{
    color: white;
}
@keyframes blink{
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
h4{
    border: solid 2px #40566e;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    color: white;
    border-radius: 5px;
    margin-left: 450px;
    margin-right: 450px;
    animation: blink 0.5s 3;
    padding: 5px;
}
table{
   border: solid 2px #40566e;
   border-collapse: collapse;
   color: white;
   font-family: "Roboto Mono", monospace;
   border-radius: 12px;
}
th{
    border: solid 2px #40566e;
    padding: 5px;
    border-radius: 12px;

}

td{
    border: solid 2px #40566e;
    padding: 5px;
    border-radius: 12px;

}
#news{
    font-size: 14px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
#newsimage{
    
}
#image{
    border: none;
    
}
#newsinhalt{
    font-family: "Roboto Mono", monospace;
    color: white;
}
#changep{
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
}
g{
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}