@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
body{

    background-color: rgb(49, 31, 58);

}
#main{
    background-color: rgba(86, 85, 138, 0.726);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
#divlogin{
    font-family: 'Roboto Mono', sans-serif;
    border: solid 2px rgb(229, 57, 83);
    width: 35%;
    height: 350px;
    margin: 0 auto;
    padding: auto;
    text-align: center;
    position: center;
    color: rgb(229, 57, 83);
    border-radius:  25px;
    font-size: 18px;
}
input[type=text], input[type=password] {
    background-color: transparent;
    border: solid 2px rgb(229, 57, 83);
    border-radius: 25px;
    color: white;
    position: relative;
}
input[type=submit]{
    border: solid 2px rgb(229, 57, 83);
    border-radius: 25px;
    background-color: rgb(229, 57, 83);
    color: rgb(49, 31, 58);
    font-family: monospace;
    font-size: 18px;
}
#signup{
    color:rgb(229, 57, 83);
    
}
#signup:hover{
    color: white;
    
}
input[type=submit]:hover{
   background-color: rgb(49, 31, 58);
   color:rgb(229, 57, 83);

}
#logintitle{
    font-weight: normal;
    font-family: 'Roboto Mono', sans-serif;
}
#loginpages{
    font-family: 'Roboto Mono', sans-serif;
    font-size: 18px;
    color: rgb(229, 57, 83);
    border: solid 2px rgb(229, 57, 83);
    
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
h4{
    font-family: 'Roboto Mono', sans-serif;
    border: solid 2px rgb(229, 57, 83);
    text-align: center;
    color:rgb(229, 57, 83);
    animation: blink 0.5s linear 3; 
    width: 20%; 
    position: relative;
    left: 40%;
    border-radius: 12px;
}
#loginpages{
    height: 80px;
    margin-left: 150px;
    border-radius: 12px;
    margin-top: -75px;
    color:rgb(229, 57, 83);
    font-size: 20px;

}
#links{
    padding: 70px;
    color:rgb(229, 57, 83);
    top: 30px;
}
#links:hover{
    color: white;
}
#register{
    text-align: center;
    border: solid 2px rgb(229, 57, 83);
    border-radius: 25px;
    font-family: 'Roboto Mono', sans-serif;
    color:rgb(229, 57, 83);
    width: 50%;
}
#anrede{
    border: solid 2px rgb(229, 57, 83);
    width: 170px;
    background-color: transparent;
    color:rgb(229, 57, 83);
    border-radius: 12px;
    appearance: none;
    
}
option{
    background-color:rgb(49, 31, 58);
    border: solid 2px rgb(229, 57, 83);
    border-radius: 12px;
}
    
#email{
    border: solid 2px rgb(229, 57, 83);
    border-radius: 12px;
    background-color: transparent;
    color:rgb(229, 57, 83);
}