body{
    background-color: rgba(86, 85, 138, 0.726);

}
#login{
    background-color: rgba(55, 55, 110, 0.836);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 380px;
    margin-right: 380px;
    margin-bottom: 300px;
    padding: 50px;
    color: white;
    box-shadow: 2em, 2cm, rgb(0, 0, 0);
    
}
#username, #password{
    padding-left: 10px;
    background-color: transparent;
    color: white;
    border-color: solid ,rgb(0, 0, 0);
    
    
}
#password{
    margin-bottom: 30px;
}
#logo{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: -10px;
    color: white;
}
#label, #label2{
    text-align: left;
    margin-left: 86px;
    margin-bottom: 5px;
    margin-top: 10px;
}
#submit{
    text-align: left;
    margin-left: 86px;
}
h1{
    margin-top: -10px;
    margin-bottom: 50px;
    color: white;
}
#letsgo{
    background-color: black;
}
